<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717023932532-a11n2bish5ehdvf20ehlpk837d3r52ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717023932532-a11n2bish5ehdvf20ehlpk837d3r52ko</string>
	<key>API_KEY</key>
	<string>AIzaSyDf2BmHfldjSLeEGWVoOge1idXTfr2WjQk</string>
	<key>GCM_SENDER_ID</key>
	<string>717023932532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nursa</string>
	<key>PROJECT_ID</key>
	<string>nursa-4f6aa</string>
	<key>STORAGE_BUCKET</key>
	<string>nursa-4f6aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717023932532:ios:ed5abd9ad89b7db0846121</string>
</dict>
</plist>